<h2>Заполнение данных</h2>
<p>На этой странице вы можете заполнить базу данных информацией о предметах и группах. Выберите, какие данные вы хотите добавить, и перейдите на соответствующую страницу.</p>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Subjects" asp-controller="DataEntry" class="list-group-item-action">Предметы</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Groups" asp-controller="DataEntry" class="list-group-item-action">Группы</a>
    </li>
</ul>