@{
    ViewData["Title"] = "Главная страница";
}

<style>
    #toc ol {
        list-style: none;
        counter-reset: item;
    }

    #toc li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }

    .toc-link {
        text-decoration: none;
        color: inherit;
        transition: transform 0.2s;
    }

    .toc-link:hover {
        transform: scale(1.1);
        color: black;
    }
</style>

<div class="text-center">
    <img src="https://avatars.mds.yandex.net/i?id=5d7baf25e9e80ce29487c8faea5e1073363cfed7-9709264-images-thumbs&n=13" alt="Logo" width="200" height="200">
    <h1 class="display-4">Конструктор Расписания</h1>
    <p>Бесплатный помощник в составлении расписаний занятий для образовательных организаций!</p>
</div>
<br />
<div id="toc-container" style="text-align: center;">
    <h2>Содержание</h2>
    <div id="toc" style="display: inline-block; border-radius: 25px; border: 2px solid #800000; padding: 20px;">
        <ol>
            <li><a class="toc-link" href="#languages">Используемые языки программирования и фреймворки</a></li>
            <li><a class="toc-link" href="#features">Возможности конструктора</a></li>
            <li><a class="toc-link" href="#first-run">Первый запуск</a></li>
            <li><a class="toc-link" href="#data-entry">Заполнение данных</a></li>
            <li><a class="toc-link" href="#system-requirements">Требования к системе</a></li>
            <li><a class="toc-link" href="#goals">Цели Конструктора Расписания</a></li>
        </ol>
    </div>
</div>
<br />
<hr/>
<br />
<h2 id="languages">Используемые языки программирования и фреймворки</h2>
<br />
<table align="center">
    <tr>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML" width="75" height="75" title="HTML - язык разметки гипертекста, используется для создания и форматирования содержимого веб-страниц"></td>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS" width="75" height="75" title="CSS - каскадные таблицы стилей, используются для описания внешнего вида документа, написанного с использованием языка разметки"></td>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" width="75" height="75" title="JavaScript - язык программирования, используется для создания интерактивных элементов на веб-страницах"></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="JQuery" width="75" height="75" title="JQuery - JavaScript-библиотека, упрощает работу с HTML-документами, обработку событий, анимацию и Ajax-взаимодействие"></td>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="C#" width="75" height="75" title="C# - объектно-ориентированный язык программирования, разработанный Microsoft для платформы .NET"></td>
        <td><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" alt="ASP .NET Core" width="75" height="75" title=".NET Core - кроссплатформенный фреймворк для создания приложений, разработанный Microsoft"></td>
    </tr>
</table>
<br />
<hr/>
<br />
<h2 id="features">Возможности конструктора</h2>
<br />
<p><strong>Конструктор расписания</strong> создан для поддержки образовательных организаций. Мы предлагаем бесплатную и удобную программу, которая облегчит создание расписания и поможет с его заполнением.</p>

<p>В Конструкторе реализовано заполнение, редактирование и удаление дисциплин, групп, расписаний на семестр. При составлении расписания у вас будет удобное информационное окно, которое подскажет сколько учебных часов осталось распределить или убрать. Наша программа также облегчает рутинные занятия и ускоряет их: больше не нужно заполнять каждую неделю отдельно, просто используйте созданные вами шаблоны для быстрого переноса учебных дисциплин в расписание.</p>

<p>Работа над улучшением <strong>Конструктора Расписания</strong> ведётся и по сей день, мы постоянно развиваем и улучшаем программу для лучшего взаимодействия с ней!😀</p>
<br />
<hr/>
<br />
<h2 id="first-run">Первый запуск</h2>
<br />
<p>Для начала работы с приложением, необходимо открыть файл <strong>DesignerSchedule.sln</strong> с помощью Visual Studio. Далее во вкладке <strong>"Проект"</strong> выбираем <strong>"Управление пакетами NuGet"</strong> и скачиваем обновления для пакетов, если таковые имеются. После этого необходимо зайти в Консоль диспетчера пакетов и выполнить несколько команд:</p>

<pre><code>Add-Migration InitialMigration
Update-Database
</code></pre>
<br />
<hr/>
<br />
<h2 id="data-entry">Заполнение данных</h2>
<br />
<p>При работе с конструктором расписания необходимо учитывать последовательность заполнения данных, а именно: <br/> *Дисциплины -> Группы -> Конструктор*.</p>

<p>Поля данных:</p>
<ul>
    <li><strong>Дисциплины:</strong> Название, Преподователь, Кабинет;</li>
    <li><strong>Группы:</strong> Название, Список изучаемых дисциплин с указанными учебными часами;</li>
    <li><strong>Конструктор расписания:</strong> Группа, Количество недель в семестре, расписание.</li>
</ul>
<br />
<hr/>
<br />
<h2 id="system-requirements">Требования к системе</h2>
<br />
<p>Для работы приложения необходим установленный <strong>.NET Framework 4.7.2 и Visual Studio.</strong></p>
<br />
<hr/>
<br />
<h2 id="goals">Цели Конструктора Расписания</h2>
<br />
<ul>
    <li>[x] Рабочий конструктор расписания</li>
    <li>[x] Возможность редактирования и удаления информации</li>
    <li>[ ] Система "Анти-Повтор"</li>
    <li>[ ] Экспорт расписания в pdf и excel</li>
    <li>[ ] Оформление приложения и создание удобного и понятного интерфейса</li>
    <li>[ ] Создание версий для разных учебных заведений (Школа, ВУЗ, Техникум)</li>
    <li>[ ] Проработка доступности запуска приложения</li>
    <li>[ ] Поддержка цветовых тем
        <ul>
            <li>[ ] Светлая</li>
        </ul>
    </li>
</ul>