@{
    ViewData["Title"] = "Главная страница";
}

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Конструктор Расписания</h1>
            <h2 class="subtitle">Бесплатный помощник в составлении расписаний занятий для образовательных организаций!</h2>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <h2 class="title">Содержание</h2>
        <div class="content">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a class="has-text-danger" href="#languages">Используемые языки программирования и фреймворки</a></li>
                    <li><a class="has-text-danger" href="#features">Возможности конструктора</a></li>
                    <li><a class="has-text-danger" href="#first-run">Первый запуск</a></li>
                    <li><a class="has-text-danger" href="#data-entry">Заполнение данных</a></li>
                    <li><a class="has-text-danger" href="#system-requirements">Требования к системе</a></li>
                    <li><a class="has-text-danger" href="#goals">Цели Конструктора Расписания</a></li>
                </ul>
            </aside>
        </div>
    
        <div class="has-text-centered">
            <a class="button is-danger is-large" href="@Url.Action("Index", "ScheduleAdd")">Перейти к работе</a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title" id="languages">Используемые языки программирования и фреймворки</h2>
        <br />
        <div class="columns is-multiline is-centered" id="my-container">
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML" title="HTML - язык разметки гипертекста, используется для создания и форматирования содержимого веб-страниц">
                </figure>
            </div>
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS" title="CSS - каскадные таблицы стилей, используются для описания внешнего вида документа, написанного с использованием языка разметки">
                </figure>
            </div>
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" title="JavaScript - язык программирования, используется для создания интерактивных элементов на веб-страницах">
                </figure>
            </div>
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="JQuery" title="JQuery - JavaScript-библиотека, упрощает работу с HTML-документами, обработку событий, анимацию и Ajax-взаимодействие">
                </figure>
            </div>
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="C#" title="C# - объектно-ориентированный язык программирования, разработанный Microsoft для платформы .NET">
                </figure>
            </div>
            <div class="column is-narrow has-text-centered">
                <figure class="image is-96x96">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" alt=".NET Core" title=".NET Core - кроссплатформенный фреймворк для создания приложений, разработанный Microsoft">
                </figure>
            </div>
        </div>
    </div>
</section>


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body has-text-centered">

        </section>
    </div>
</div>

<h2 id="features">Возможности конструктора</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>В Конструкторе реализовано заполнение, редактирование и удаление дисциплин, групп, расписаний. Наша программа также облегчает рутинные занятия и ускоряет их: больше не нужно заполнять каждую неделю отдельно, просто используйте созданные вами шаблоны для быстрого переноса учебных дисциплин в расписание. Выбирайте нужный режим составления расписания (На день, на неделю или на семестр).</p>
        </div>
        <div class="col-md-6">
            <p><strong>Конструктор расписания</strong> создан для поддержки образовательных организаций. Мы предлагаем бесплатную и удобную программу, которая облегчит создание расписания и поможет с его заполнением.</p>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<h2 id="first-run">Первый запуск</h2>
<br />
<p>Перед запуском убедитесь, что у вас установлена программа Visual Studio, а также её необходимые компоненты: ASP.NET и разработка веб-приложений, Разработка классических приложений .NET, Хранение и обработка данных.</p>

<p>Для начала работы с приложением, необходимо открыть файл Schedule-Constructor.sln с помощью Visual Studio. Далее во вкладке "Проект" выбираем "Управление пакетами NuGet" и скачиваем обновления для пакетов, если таковые имеются. После этого необходимо зайти в Консоль диспетчера пакетов и выполнить несколько команд:</p>

<pre class="rounded-block">
<code>
Add-Migration InitialMigration
Update-Database
</code>
</pre>
<br />
<hr />
<br />
<h2 id="data-entry">Заполнение данных</h2>
<br />
<p>Конструктор расписания работает с данными, которые вы ему предоставите. Поэтому перед созданием расписания необходимо заполнить учебные дисциплины и группы.</p>

<p>В программе реализовано удобное заполнение данных, а также их редактирование и заполнение. Конструктор поможет избежать ошибок при их заполнении, а если они всё же случатся, то он уведомит вас о них.</p>
<br />
<hr />
<br />
<h2 id="system-requirements">Требования к системе</h2>
<br />
<p>Для работы приложения необходим установленный <strong>.NET Framework 4.7.2 и Visual Studio, а также необходимые компоненты VS (ASP.NET и разработка веб-приложений, Разработка классических приложений .NET, Хранение и обработка данных).</strong></p>
<br />
<hr />
<br />
<h2 id="goals">Цели Конструктора Расписания</h2>
<br />
<div class="container">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Рабочий конструктор расписания</li>
        <li class="list-group-item list-group-item-success">Возможность редактирования и удаления информации</li>
        <li class="list-group-item list-group-item-success">Система "Анти-Повтор"</li>
        <li class="list-group-item list-group-item-danger">Экспорт расписания в pdf и excel</li>
        <li class="list-group-item list-group-item-danger">Оформление приложения и создание удобного и понятного интерфейса</li>
        <li class="list-group-item list-group-item-danger">Создание версий для разных учебных заведений (Школа, ВУЗ, Техникум)</li>
        <li class="list-group-item list-group-item-danger">Проработка доступности запуска приложения</li>
        <li class="list-group-item list-group-item-danger">Система шаблонов для составления расписания</li>
        <li class="list-group-item list-group-item-danger">Возможность добавить нечетную неделю</li>
        <li class="list-group-item list-group-item-danger">
            Поддержка цветовых тем
            <ul>
                <li>Светлая</li>
                <li>Темная</li>
            </ul>
        </li>
    </ul>
</div>

    <script>
        document.querySelectorAll("#my-container img").forEach((img) => {
            img.addEventListener("click", () => {
                // Get the modal elements
                let modal = document.querySelector(".modal");
                let modalTitle = document.querySelector(".modal-card-title");
                let modalBody = document.querySelector(".modal-card-body");
                let modalClose = document.querySelector(".modal .delete");

                // Set the content of the modal
                modalTitle.textContent = img.getAttribute("alt");
                modalBody.innerHTML = `<figure class="image is-128x128" style="margin: 0 auto;"><img src="${img.getAttribute("src")}" alt="${img.getAttribute("alt")}" title="${img.getAttribute("title")}"></figure><br>${img.getAttribute("title")}`;

                // Show the modal
                modal.classList.add("is-active");

                // Handle clicks on the modal close button
                modalClose.addEventListener("click", () => {
                    modal.classList.remove("is-active");
                });
            });
        });
</script>