<h2>Создание расписания</h2>
<p>Выберите режим конструктора расписания:</p>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Index" asp-controller="Schedule" class="list-group-item-action">Создание расписания на неделю</a>
    </li>
</ul>