body {
    font-family: 'Segoe UI', sans-serif;
    /*background: rgba(30,29,31,1);
    background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
    background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;*/
}
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

    body.dark-theme a {
        color: #fff;
    }
        body.dark-theme a:hover {
            background-color: transparent;
        }

    body.dark-theme .navbar-light {
        background-color: #333;
    }

        body.dark-theme .navbar-light .navbar-nav .nav-link {
            color: #fff;
        }

    body.dark-theme .rounded-block {
        background-color: #555;
    }

    body.dark-theme .list-group-item {
        color: #fff;
    }

    body.dark-theme .list-group-item-action {
        color: #fff;
    }

    body.dark-theme .button__back {
        color: #fff;
    }
    body.dark-theme th,
    body.dark-theme td,
    body.dark-theme tr {
        color: #fff;
    }
    body.dark-theme .card {
        color: #333;
    }
  



    #theme-switch {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
    }

    #theme-switch:focus {
        outline: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }

tr.week-separator {
    height: 70px;
}
